<!DOCTYPE html>
<html>
    <head>
        <title>Sign In</title>
        <link rel="icon" type="image/x-icon" href="/static/assets/nebula-icon.ico">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </head>
    <style>
        body {
            background-color: #0D0E24;
            font-family: 'Kadwa';
            color: white;
        }
        .submit-button {
            color: white;
            background-color: #333F81;
            border: none;
            height: 50px;
            width: 100%;
            font-size: large;
        }
    </style>
    <body>
        <div class="container vh-100">
            <div class="row align-items-center vh-100">
                <div class="col-6 text-center">
                    <img class="img-fluid" src="/static/assets/nebula-circular-title.png">
                </div>
                <div class="col-6 align-items-end">
                    <h2>Sign In to Nebula Dashboard</h2>
                    <form style="width: 400px;" action="{{ .Data.Action }}" method="{{ .Data.ActionMethod }}">
                        <div class="form-group" style="margin-bottom: 10px;">
                          <label for="txtUsername">Username</label>
                          <input type="text" class="form-control" id="txtUsername" placeholder="Enter username" required>
                        </div>
                        <div class="form-group" style="margin-bottom: 10px;">
                          <label for="txtPassword">Password</label>
                          <input type="password" class="form-control" id="txtPassword" placeholder="Enter password" required>
                        </div>
                        <button type="submit" class="submit-button" style="margin-top: 20px;">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>